*.lnk
syncpoint.dat
CSpect 4.lnk
syncignore.txt
help.txt
nextsync.bat
nextsync.log
nextsync.txt
sync
syncfast
syncslow
nextsync.py
dot/
home/
nextzxos/
/tools/vForth/version/
/tools/vForth/version/2???????/
/tools/xxx_vForth/
/tools/vForth/prompts/
tools/vForth/doc/vForth1.8-core-en-20251111.odt
tools/vForth/version/20260101/inc/ASK.f
