*.lnk
dot/
home/
nextzxos/
tools/xxx_vForth/
tools/vForth/version/
tools/vForth/prompts/
tools/vForth/.claude/
*/version/*
syncpoint.dat
CSpect 4.lnk
syncignore.txt
help.txt
nextsync.bat
nextsync.log
nextsync.txt
sync
syncfast
syncslow
nextsync.py
